<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taarangana.collegefestapp"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Taarangana&apos;15"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="Taarangana&apos;15"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".FeedbackContact"
            android:label="@string/title_activity_feedback_contact"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/title_activity_event"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".EventDescription"
            android:label="@string/title_activity_second_event_page"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events" >
            </meta-data>
        </activity>
        <activity
            android:name=".Sponsors"
            android:label="@string/title_activity_sponsors"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_gallery"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
        <activity
            android:name=".StarAttractions"
            android:label="@string/title_activity_star_attractions"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" >
            </meta-data>
        </activity>
    </application>

</manifest>